/****************************** uploadWrapper模块 ***************************/
.uploadSong{
    display: none;
}
.uploadSong.active{
    display: block;
}
.uploadSong-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.uploadSong-inner .uploadWrapper-background{
    width: 100%;
    height: 100%;
    background: #00a6d0;
    opacity: 0.5;
}
.uploadSong-inner .uploadWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 368px;
    border-radius: 15px;
    overflow: hidden;
}

.uploadSong-inner .uploadView{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: flex-start;
    padding: 32px 32px 0 30px;
    background: #ffffff;
    position: relative;
}
.uploadSong-inner .uploadView .songImgLi svg{
    width: 45px;
    height: 50px;
    fill: #00a1cb;
}
.uploadSong-inner .uploadView .songDetails{
    margin-left: 18px;
}
.uploadSong-inner .uploadView .songDetails .areaHeader{
    height: 12px;
    font-size: 12px;
}
.uploadSong-inner .uploadView .songDetails .areaMiddle{
    margin-top: 8px;
    font-size: 8px;
}
.uploadSong-inner .uploadView .songDetails .growBar{
    width: 240px;
    height: 6px;
    margin-top: 12px;
    background: #a3e7fc;
    border-radius: 4px;
    overflow: hidden;
}
.uploadSong-inner .uploadView .songDetails .growBar .growBarInner{
    height: 100%;
    background: #00a5cf;
}
.uploadSong-inner .uploadView .songClose{
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 5px 10px;
}
.uploadSong-inner .uploadView .songClose > svg{
    width: 15px;
    height: 15px;
    fill: #0c95df;
}
.uploadSong-inner .uploadSongArea{
    width: 368px;
    height: 210px;;
    background: #a3e7fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uploadSong-inner .uploadSongArea .drapArea{
    position: relative;
    border: 1px dashed gray;
    padding: 4px 55px 0;
}
.uploadSong-inner .uploadSongArea .drapArea input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.uploadSong-inner .uploadSongArea .drapArea svg{
    width: 100px;
    height: 70px;
    fill: #00a1cb;
}
.uploadSong-inner .uploadSongArea > p.hintDrag{
    margin-top: 16px;
    line-height: 16px;
    font-size: 16px;
}
.uploadSong-inner .uploadSongArea > p.hintOr{
    margin-top: 10px;
    line-height: 10px;
    font-size: 10px;
}
.uploadSong-inner .uploadSongArea div.chooseFileButton{
    height: 32px;
    padding: 12px 46px;

    position: relative;
    font-size: 10px;
    margin-top: 14px;
    padding: 12px 46px;
    color: #ffffff;
    background: #00a1cb;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.uploadSong-inner .uploadSongArea div.chooseFileButton input{
    width: 100%;
    height: 100%;
    background: palegoldenrod;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}