/* 样式初始化 */
*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol{list-style: none;}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
body{height: 100vh;}

/* 整体布局 */
.wrapper{
    width: 100vw;
    height: 100vh;
    background: #ddd;
    border: 1px solid red;
    display: grid;
    grid-template:
        "header     header   header     header   header" 50px
        "tabControl songList songLyrics songEdit songOthers" 1fr
        "footer     footer   footer     footer   footer" 50px
        /150px 250px 250px 250px 400px;
    grid-gap: 10px 10px; 
    justify-content: center;
    align-content: center;
}
.header, 
.tabControl, 
.songList,
.songLyrics,
.songEdit,
.songOthers,
.footer{
    border: 1px solid gray;
}
.header{grid-area: header;}
.tabControl{grid-area: tabControl;}
.songList{grid-area: songList;}
.songLyrics{grid-area: songLyrics;}
.songEdit{grid-area: songEdit;}
.songOthers{grid-area: songOthers;}
.footer{grid-area: footer;}


/* header头部模块 */
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner .logo{
    display: flex;
}
.header-inner .logo .icon{
    width: 36px;
    height: 36px;
}
.header-inner .logo .icon:nth-child(2){
    margin-left: 10px;
}
.header-inner .welcome{
    font-size: 30px;
}
.header-inner .logInAndOut{
    font-size: 18px;
}
/* tabControl选项卡模块 */

/* songList歌曲列表模块 */
.songList-inner{}
.songList-inner ul{}
.songList-inner ul li.active{
    color: red;
}

/* songLyrics歌词列表模块 */

/* songEdit歌曲编辑模块 */
.songEdit-inner{}
.songEdit-inner .uploadToQiNiu{
    border: 1px solid red;
    width: 200px;
    height: 30px;
    position: relative;
}
.songEdit-inner .uploadToQiNiu p{
    width: 100%;
    height: 100%;
    background: palegoldenrod;
}
.songEdit-inner .uploadToQiNiu input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}


.songEdit-inner .uploadToLeanCloud{
    margin-top: 50px;
}
.songEdit-inner label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.songEdit-inner label span{
    border: 1px solid red;
    width: 100px;
    text-align: right;
}
.songEdit-inner label form{
    border: 1px solid blue;
    width: 200px;
}
.songEdit-inner label form 



.songEdit-inner label input{
    border: 1px solid red;
}

/* songOthers歌曲上传模块 */
.songOthers-inner{
    border: 1px solid red;
}
.songOthers-inner > div{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}



/* .songOthers-inner > form{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.songOthers-inner > form > p{
    width: 100%;
    height: 100%;
}
.songOthers-inner > form > input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
} */

/* footer尾部模块 */


