/* 样式初始化 */
*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
a{text-decoration: none;color: inherit;}
ul, ol{list-style: none;}
body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
}

/* 整体布局 */
.wrapper{
    width: 80vw;
    background: #ddd;
    border: 1px solid red;
    display: grid;
    grid-template:
        "header header" 50px
        "aside main" 70vh
        "footer footer" 50px
        /200px 1fr;
    grid-gap: 10px 10px; 
}
header, aside, main, footer{border: 1px solid gray;}
header{grid-area: header;}
aside{grid-area: aside;}
main{grid-area: main;}
footer{grid-area: footer;}

/* header头部模块 */
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner .logo{
    display: flex;
}
.header-inner .logo .icon{
    width: 36px;
    height: 36px;
}
.header-inner .logo .icon:nth-child(2){
    margin-left: 10px;
}
.header-inner .welcome{
    font-size: 30px;
}
.header-inner .logInAndOut{
    font-size: 18px;
}

/* newAndEdit模块 */
.newAndEdit{
    display: none;
}
.newAndEdit.active{
    display: block;
}
.newAndEdit div{
    background: palegoldenrod;
    display: flex;
    align-items: stretch;
}
.newAndEdit div form{
    background: pink;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.newAndEdit div form .coverWrapper{
    height: 50px;
    border: 1px solid blue;
}
.newAndEdit div form label{
    border: 1px solid blue;
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.newAndEdit div form label .songFile_show,
.newAndEdit div form label .coverFile_show{
    width: 100%;
    height: 100%;
    background: palegreen;
}
.newAndEdit div form label .songFile_hidden,
.newAndEdit div form label .coverFile_hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.newAndEdit div textarea{
    width: 50%;
    background: paleturquoise
}


/* uploadWrapper模块 */

.uploadWrapper{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: palegoldenrod;
    opacity: 0.8;
    display: none;
}
.uploadWrapper.active{
    display: block;
}
.uploadWrapper .uploadWrapper-inner{
    width: 100%;
    height: 100%;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadWrapper .uploadWrapper-inner > div{
    width: 50vw;
    height: 50vh;
    background: paleturquoise;
    position: relative;
}
.uploadWrapper .uploadWrapper-inner > div .uploadFile{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
}
.uploadWrapper .uploadWrapper-inner > div .cansoleBtn{
    width: 30px;
    height: 30px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
}
.uploadWrapper .uploadWrapper-inner > div .growBarOuter{
    width: 80%;
    height: 5px;
    background: blueviolet;
    position: absolute;
    top: 130px;
}
.uploadWrapper .uploadWrapper-inner > div .growBarInner{
    height: 100%;
    background: red;
}
/* songList模块 */
.songList{
    display: none;
}
.songList.active{
    display: block;
}
.songList ul li{
    height: 50px;
    margin: 30px;
    background: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.songList ul li.active{
    color: red;
}
.songList ul li .li_cover{
    width: 50px;
    height: 30px;
    border: 1px solid blue;
}
.songList ul li .li_cover img{
    width: 30px;
    height: 30px;
}
.songList ul li .li_songName{
    flex-grow: 1;
    border: 1px solid blue;
}

.songList ul li .li_play,
.songList ul li .li_discuss,
.songList ul li .li_discuss,
.songList ul li .li_edit,
.songList ul li .li_delete{
    border: 1px solid blue;
    width: 50px;
}

/* newAndEdit模块 */


/* otherInformation模块 */