/*********************** 歌曲列表展示 ***************************/
.songList{
    display: none;
}
.songList.active{
    display: block;
}

/* *********************** 歌单列表展示 ******************************************* */
.menuList{
    display: none;
}
.menuList.active{
    display: block;
}

/* *********************** 歌单列表：查看歌曲 ******************************************* */
.menuCheckSong{
    display: none;
}
.menuCheckSong.active{
    display: block;
}

/* *********************** 歌单列表：添加歌曲 ******************************************* */
.menuAddSong{
    display: none;
}
.menuAddSong.active{
    display: block;
}

/* *********************** 新建歌曲 ******************************************* */
.newAndEdit{
    display: none;
}
.newAndEdit.active{
    display: block;
}



/* *********************** 新建歌单 ******************************************* */
.newMenu{
    display: none;
}
.newMenu.active{
    display: block;
}

#songMenuCover{
    width: 100%;
}
