/* ************************************** 样式初始化 ******************************************* */
*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
*::after, *::before{box-sizing: border-box;}
ol, ul{list-style: none;}
a{text-decoration: none; color: inherit;}
h1, h2, h3, h4, h5, h6{font-weight: normal}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}

/* ************************公共样式************************************ */
body{font: 14px/1.5 Helvetica,sans-serif;}
.wrapper{
    background: #f8f8f8;
}

/* ************************ header头部 ********************************** */
.header{
    position: relative;
    padding: 30px 10px 30px 15px;
    overflow: hidden;
}
.header > .hd_bg{
    position: absolute;
    z-index: 1;
    top: -30px;
    bottom: -30px;
    left: -30px;
    right: -30px;
    background: no-repeat center;
    background-size: cover;
    filter: blur(20px);
}
.header > .hd_bg::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .25);
}
.header > .hd_content{
    position: relative;
    z-index: 2;
    display: flex;
}
.header > .hd_content > .hd_lf{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 126px;
    height: 126px;
}
.header > .hd_content > .hd_lf > img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.header > .hd_content > .hd_lf > .hd_hint{
    position: absolute;
    top: 10px;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    line-height: 17px;
    height: 17px;
    padding: 0 8px;
    border-radius: 0 17px 17px 0;
    color: #fff;
    background: rgba(217, 48, 48, 0.8);
}
.header > .hd_content > .hd_rt{
    width: 1%;
    flex: 1 1 auto;
    margin-left: 16px;
}
.header > .hd_content > .hd_rt > .menuName{
    padding-top: 1px;
    font-size: 17px;
    line-height: 1.3;
    height: 44px;
    padding-top: 1px;
    color: #fefefe;
}
.header > .hd_content > .hd_rt > .creator{
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: #fefefe;
}
.header > .hd_content > .hd_rt > .creator > svg{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    border-radius: 50%;
    overflow: hidden;
}
.header > .hd_content > .hd_rt > .creator > .creatorName{
    color: #c8c4c4;
}


/* ************************ 歌单详情 ********************************** */
.intro{
    margin-top: 10px;
    padding: 0 10px 0 15px;
    font-size: 14px;
    line-height: 19px;
    color: #666;
}
.intro > .intro_tags{
    line-height: 20px;
    height: 20px;
    margin-bottom: 10px;
    display: flex;
    
}
.intro > .intro_tags > span{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    padding: 1px 8px;
    margin-right: 10px;
}
.intro > .intro_tags > span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    box-sizing: content-box;
    padding: 0 0 2px 0;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 9999px;
    transform: scale(.5);
    transform-origin: top left;
}
.intro > .intro_intro{
    margin-bottom: 18px;
    line-height: 19px;
}
.intro > .intro_intro p{
    margin-top: 12px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* ************************ 歌曲列表 ********************************** */
.menu_songList > h3{
    font-size: 12px;
    line-height: 23px;
    padding: 0 10px;
    color: #666;
    background-color: #eeeff0;
}

ol.songsWrapper > li > .songNumber{
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.53vw;
}
ol.songsWrapper > li.ahead > .songNumber{color: #d33a31;}
ol.songsWrapper{display: flex;flex-direction: column;align-items: flex-start;}
ol.songsWrapper > li{width: 100%;display: flex;justify-content: space-between;align-items: center;}
ol.songsWrapper > li > .songLink{position: relative;flex-grow: 1;display: inline-block;vertical-align: top;padding: 1.6vw 0;color: #333;}
ol.songsWrapper > li > .songLink::after{content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 1px;transform: scaleY(.18);background: #c0bebe;}
ol.songsWrapper > li > .songLink > .songName{font-size: 4.53vw;}
ol.songsWrapper > li > .songLink > .singer{font-size: 3.2vw;color: #888;}
ol.songsWrapper > li > .songLink > .singer > .songSq{display: inline-block;vertical-align: middle;width: 13px;height: 15px;line-height: 15px;fill: #ca5407;}
ol.songsWrapper > li > .songLink > .songPlay{position: absolute;top: 50%;right: 2.66vw;transform: translateY(-50%);width: 5.86vw;height: 5.86vw;fill: #bfbfbf;}

/* ************************ 底部App ********************************** */
.controlApp{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.controlApp > a.app{
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 40px;
    width: 173px;
    height: 40px;
    border: 1px solid #d33a31;
    text-align: center;
    padding: 0 6px;
    border-radius: 20px;
}
.controlApp > a.openApp{
    color: #d33a31;
    background: #fff;
}
.controlApp > a.downloadApp{
    color: #fff;
    background: #d33a31;
}